<a href="https://colab.research.google.com/github/namugnel/youtube_ai_ml/blob/master/%EB%B6%88%EA%B7%A0%ED%98%95_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%97%B0%EC%8A%B5_(0816)_my_data(0822).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving For_sampling_edit (0816).csv to For_sampling_edit (0816).csv

In [ ]:
import pandas as pd
data1 = pd.read_csv('For_sampling_edit (0816).csv')
data1.head()

,PID,trust,level_relationship,num_relationship,cooperation_neig,participation_neig,cog_social_mix2,cog_social_mix,living_social_mix,self_rate_health,...,married_state,children_b,living_year,In_T_H_income,scatter_site_C,gender,disable_person,living_year_B,living_year_B2,discrimination
0,1000101,3,3,3,3,2,3,2,1,4,...,1,1,8,8.438150,1,1,0,1,1,0
1,1000102,3,3,3,3,2,3,2,1,4,...,1,1,8,8.438150,1,0,0,1,1,0
2,1000201,3,3,3,3,2,3,1,1,4,...,0,1,8,8.006368,1,1,0,1,1,0
3,1000401,3,3,3,3,2,3,2,1,4,...,1,1,4,8.342840,1,1,0,0,0,0
4,1000402,3,3,3,3,2,3,2,1,4,...,1,1,4,8.342840,1,0,0,0,0,0

In [ ]:
data = data1.drop(['living_year_B', 'living_year_B2'], axis = 1)

In [ ]:
data

,PID,trust,level_relationship,num_relationship,cooperation_neig,participation_neig,cog_social_mix2,cog_social_mix,living_social_mix,self_rate_health,...,job,age,married_state,children_b,living_year,In_T_H_income,scatter_site_C,gender,disable_person,discrimination
0,1000101,3,3,3,3,2,3,2,1,4,...,1,66,1,1,8,8.438150,1,1,0,0
1,1000102,3,3,3,3,2,3,2,1,4,...,1,54,1,1,8,8.438150,1,0,0,0
2,1000201,3,3,3,3,2,3,1,1,4,...,1,41,0,1,8,8.006368,1,1,0,0
3,1000401,3,3,3,3,2,3,2,1,4,...,1,60,1,1,4,8.342840,1,1,0,0
4,1000402,3,3,3,3,2,3,2,1,4,...,1,60,1,1,4,8.342840,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3401,2912601,3,3,3,3,2,3,1,2,2,...,1,64,0,1,5,6.899723,1,1,1,0
3402,2914301,2,3,2,2,2,2,1,1,3,...,1,70,1,0,5,7.094235,1,0,0,1
3403,2915001,3,3,3,3,2,3,1,2,2,...,1,57,0,1,2,7.244227,1,0,0,0
3404,2915002,2,3,3,4,2,3,2,2,2,...,0,28,0,1,2,7.244227,1,0,0,1
3405,2915003,2,2,1,3,2,3,1,1,4,...,1,22,0,1,2,7.244227,1,1,0,0

In [ ]:
data.shape

(3406, 25)

In [ ]:
# y 불균형 정도 보기 위해, 더미별 개수 확인
data.discrimination.value_counts()

0    3158
1     248
Name: discrimination, dtype: int64

In [ ]:
# *** X값(독립변수) y(종속변수)값 설정하기
X = data.iloc[:,:-1]
y = data.discrimination
X.head()

,PID,trust,level_relationship,num_relationship,cooperation_neig,participation_neig,cog_social_mix2,cog_social_mix,living_social_mix,self_rate_health,...,num_family,job,age,married_state,children_b,living_year,In_T_H_income,scatter_site_C,gender,disable_person
0,1000101,3,3,3,3,2,3,2,1,4,...,2,1,66,1,1,8,8.438150,1,1,0
1,1000102,3,3,3,3,2,3,2,1,4,...,2,1,54,1,1,8,8.438150,1,0,0
2,1000201,3,3,3,3,2,3,1,1,4,...,1,1,41,0,1,8,8.006368,1,1,0
3,1000401,3,3,3,3,2,3,2,1,4,...,2,1,60,1,1,4,8.342840,1,1,0
4,1000402,3,3,3,3,2,3,2,1,4,...,2,1,60,1,1,4,8.342840,1,0,0

In [ ]:
pip install imblearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imblearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.7/dist-packages (from imblearn) (0.8.1)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from imbalanced-learn->imblearn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (3.1.0)

In [ ]:
# SMOTE 분석 세팅
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [ ]:
# SMOTE값 도출하기 
X_smote, y_smote = smote.fit_resample(X.astype('float'),y)

In [ ]:
# SMOTE값 이전 이후 보기
from collections import Counter
print("Before SMOTE :" , Counter(y))
print("After SMOTE :" , Counter(y_smote))

Before SMOTE : Counter({0: 3158, 1: 248})
After SMOTE : Counter({0: 3158, 1: 3158})

In [ ]:
# 독립변수 보기
X_smote

,PID,trust,level_relationship,num_relationship,cooperation_neig,participation_neig,cog_social_mix2,cog_social_mix,living_social_mix,self_rate_health,...,num_family,job,age,married_state,children_b,living_year,In_T_H_income,scatter_site_C,gender,disable_person
0,1.000101e+06,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,2.000000,1.000000,4.000000,...,2.000000,1.0,66.000000,1.000000,1.000000,8.000000,8.438150,1.0,1.000000,0.000000
1,1.000102e+06,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,2.000000,1.000000,4.000000,...,2.000000,1.0,54.000000,1.000000,1.000000,8.000000,8.438150,1.0,0.000000,0.000000
2,1.000201e+06,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,4.000000,...,1.000000,1.0,41.000000,0.000000,1.000000,8.000000,8.006368,1.0,1.000000,0.000000
3,1.000401e+06,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,2.000000,1.000000,4.000000,...,2.000000,1.0,60.000000,1.000000,1.000000,4.000000,8.342840,1.0,1.000000,0.000000
4,1.000402e+06,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,2.000000,1.000000,4.000000,...,2.000000,1.0,60.000000,1.000000,1.000000,4.000000,8.342840,1.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6311,1.231664e+06,3.458549,3.000000,3.000000,4.000000,2.000000,3.000000,1.000000,2.000000,3.541451,...,2.541451,1.0,51.712424,0.458549,1.000000,5.624354,7.335815,0.0,0.000000,0.000000
6312,2.175209e+06,3.000000,3.000000,1.952254,2.317418,2.000000,2.317418,2.000000,1.682582,4.000000,...,2.317418,1.0,49.379304,0.317418,1.000000,8.365164,7.900454,2.0,0.682582,0.000000
6313,1.073384e+06,2.347571,3.021357,3.021357,3.347571,1.326214,2.673786,1.326214,1.326214,3.326214,...,1.326214,1.0,67.695143,0.000000,1.000000,19.801927,7.115616,1.0,0.326214,0.000000
6314,1.451080e+06,2.000000,2.000000,2.000000,1.106577,2.000000,3.000000,2.786846,1.893423,2.000000,...,1.106577,1.0,47.705235,0.000000,0.106577,9.811812,6.950358,1.0,0.893423,0.893423
6315,1.097010e+06,1.067574,1.067574,1.067574,2.033787,2.000000,2.000000,2.000000,1.966213,3.932426,...,2.135147,1.0,64.020182,0.033787,1.000000,6.898639,7.468564,1.0,0.966213,0.000000

In [ ]:
# y값 보기
y_smote

0       0
1       0
2       0
3       0
4       0
       ..
6311    1
6312    1
6313    1
6314    1
6315    1
Name: discrimination, Length: 6316, dtype: int64

In [ ]:
# y값 유형별 개수 보기
y_smote.value_counts()

0    3158
1    3158
Name: discrimination, dtype: int64

In [ ]:
SMOTE_table = pd.concat([X_smote, y_smote], axis = 1)

In [ ]:
SMOTE_table

,PID,trust,level_relationship,num_relationship,cooperation_neig,participation_neig,cog_social_mix2,cog_social_mix,living_social_mix,self_rate_health,...,job,age,married_state,children_b,living_year,In_T_H_income,scatter_site_C,gender,disable_person,discrimination
0,1.000101e+06,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,2.000000,1.000000,4.000000,...,1.0,66.000000,1.000000,1.000000,8.000000,8.438150,1.0,1.000000,0.000000,0
1,1.000102e+06,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,2.000000,1.000000,4.000000,...,1.0,54.000000,1.000000,1.000000,8.000000,8.438150,1.0,0.000000,0.000000,0
2,1.000201e+06,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,4.000000,...,1.0,41.000000,0.000000,1.000000,8.000000,8.006368,1.0,1.000000,0.000000,0
3,1.000401e+06,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,2.000000,1.000000,4.000000,...,1.0,60.000000,1.000000,1.000000,4.000000,8.342840,1.0,1.000000,0.000000,0
4,1.000402e+06,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,2.000000,1.000000,4.000000,...,1.0,60.000000,1.000000,1.000000,4.000000,8.342840,1.0,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6311,1.231664e+06,3.458549,3.000000,3.000000,4.000000,2.000000,3.000000,1.000000,2.000000,3.541451,...,1.0,51.712424,0.458549,1.000000,5.624354,7.335815,0.0,0.000000,0.000000,1
6312,2.175209e+06,3.000000,3.000000,1.952254,2.317418,2.000000,2.317418,2.000000,1.682582,4.000000,...,1.0,49.379304,0.317418,1.000000,8.365164,7.900454,2.0,0.682582,0.000000,1
6313,1.073384e+06,2.347571,3.021357,3.021357,3.347571,1.326214,2.673786,1.326214,1.326214,3.326214,...,1.0,67.695143,0.000000,1.000000,19.801927,7.115616,1.0,0.326214,0.000000,1
6314,1.451080e+06,2.000000,2.000000,2.000000,1.106577,2.000000,3.000000,2.786846,1.893423,2.000000,...,1.0,47.705235,0.000000,0.106577,9.811812,6.950358,1.0,0.893423,0.893423,1
6315,1.097010e+06,1.067574,1.067574,1.067574,2.033787,2.000000,2.000000,2.000000,1.966213,3.932426,...,1.0,64.020182,0.033787,1.000000,6.898639,7.468564,1.0,0.966213,0.000000,1

In [ ]:
SMOTE_table.to_excel(
    excel_writer = 'SMOTE_result.xlsx',
    sheet_name = 'Sheet1',
    index = False,       # 0부터 시작하는 자연수 인덱스는 의미가 없음.
    # columns = ['col1, 'col2', 'col3'],
    encoding = 'utf-8',
    na_rep = '',      # 결측값을 ''으로 채우기
    inf_rep = ''     # 무한값을 ''으로 채우기
)     # 해당 파일이 열려있으면 안됨.

In [ ]:
pip install xlwt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlwt in /usr/local/lib/python3.7/dist-packages (1.3.0)

In [ ]:
pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [ ]:
pip install fsspec

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fsspec
  Downloading fsspec-2022.7.1-py3-none-any.whl (141 kB)
     |████████████████████████████████| 141 kB 7.4 MB/s
Installing collected packages: fsspec
Successfully installed fsspec-2022.7.1

In [ ]:
SMOTE_table.to_excel('D://export_sample.xlsx', sheet_name='new_name')

ImportError: ignored

In [ ]:
pwd

'/content'

In [ ]:
SMOTE_table.to_excel(excel_writer='D\\논문\\23. 공공임대주택 차별인식에 관한 연구\\4. Analysis\\sample.xlsx')

Under Sampling 해보기

In [ ]:
from imblearn.under_sampling import RandomUnderSampler 
rus = RandomUnderSampler(random_state=42)
X_res, y_res = rus.fit_resample(X, y)
print("Before SMOTE :" , Counter(y))
print("After SMOTE :" , Counter(y_res))

Before SMOTE : Counter({0: 3158, 1: 248})
After SMOTE : Counter({0: 248, 1: 248})

In [ ]:
X_res

,PID,trust,level_relationship,num_relationship,cooperation_neig,participation_neig,cog_social_mix2,cog_social_mix,living_social_mix,self_rate_health,...,num_family,job,age,married_state,children_b,living_year,In_T_H_income,scatter_site_C,gender,disable_person
0,2882001,3,2,3,2,2,3,2,2,3,...,2,1,61,1,0,6,7.495542,0,1,1
1,2630602,3,3,1,3,2,3,3,2,2,...,2,1,61,1,0,2,6.739336,0,1,0
2,2795402,3,3,3,3,2,3,1,1,3,...,2,1,76,0,0,21,7.798112,1,0,1
3,2434001,3,3,3,4,2,2,2,2,1,...,2,1,58,1,0,3,6.882438,0,1,1
4,1090503,3,3,3,3,2,3,1,2,5,...,4,1,29,0,1,26,8.699514,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,2900403,3,2,3,3,2,3,1,2,5,...,4,1,24,0,1,8,8.110727,0,0,0
492,2908501,2,3,3,3,2,3,1,2,4,...,3,1,60,1,1,11,7.824046,0,1,0
493,2911801,2,2,2,2,2,3,1,2,3,...,1,1,72,0,1,5,6.969790,1,1,0
494,2914301,2,3,2,2,2,2,1,1,3,...,1,1,70,1,0,5,7.094235,1,0,0
495,2915002,2,3,3,4,2,3,2,2,2,...,3,0,28,0,1,2,7.244227,1,0,0

In [ ]:
from imblearn.under_sampling import CondensedNearestNeighbour

undersample = CondensedNearestNeighbour(n_neighbors = 10)
X_Cnn, y_Cnn = undersample.fit_resample(X, y)
print("Before CNN :" , Counter(y))
print("After CNN :" , Counter(y_Cnn))

Before CNN : Counter({0: 3158, 1: 248})
After CNN : Counter({0: 393, 1: 248})

In [ ]:
Cnn_table = pd.concat([X_Cnn, y_Cnn], axis = 1)

In [ ]:
Cnn_table.to_excel(
    excel_writer = 'Cnn_result.xlsx',
    sheet_name = 'Sheet1',
    index = True,       # 0부터 시작하는 자연수 인덱스는 의미가 없음.
    # columns = ['col1, 'col2', 'col3'],
    encoding = 'utf-8',
    na_rep = '',      # 결측값을 ''으로 채우기
    inf_rep = ''     # 무한값을 ''으로 채우기
)     # 해당 파일이 열려있으면 안됨.

In [ ]:
from imblearn.under_sampling import OneSidedSelection

oss = OneSidedSelection(n_neighbors = 200, n_seeds_S = 400)
X_Oss, y_Oss = oss.fit_resample(X, y)
print("Before OSS :" , Counter(y))
print("After OSS :" , Counter(y_Oss))

Before OSS : Counter({0: 3158, 1: 248})
After OSS : Counter({0: 434, 1: 248})

In [ ]:
from imblearn.under_sampling import NearMiss

# define the undersampling method
undersample2=NearMiss(version=1, n_neighbors_ver3=1)
# transform the dataset
X_Under, y_Under = undersample2.fit_resample(X, y)
print("Before NM :" , Counter(y))
print("After NM :" , Counter(X_Under))

Before NM : Counter({0: 3158, 1: 248})
After NM : Counter({'PID': 1, 'trust': 1, 'level_relationship': 1, 'num_relationship': 1, 'cooperation_neig': 1, 'participation_neig': 1, 'cog_social_mix2': 1, 'cog_social_mix': 1, 'living_social_mix': 1, 'self_rate_health': 1, 'self_rate_mental_health': 1, 'confidence': 1, 'children': 1, 'edu': 1, 'num_family': 1, 'job': 1, 'age': 1, 'married_state': 1, 'children_b': 1, 'living_year': 1, 'In_T_H_income': 1, 'scatter_site_C': 1, 'gender': 1, 'disable_person': 1})

In [ ]:
from imblearn.under_sampling import TomekLinks

tl = TomekLinks()
X_tl, y_tl = tl.fit_resample(X, y)
print("Before TL :" , Counter(y))
print("After TL :" , Counter(y_tl))

Before TL : Counter({0: 3158, 1: 248})
After TL : Counter({0: 3036, 1: 248})